<h3 class="tet-center">PostDetails</h3>
<div *ngIf="post$ | async as postData">
  <div>Id: {{ postData.id }}</div>
  <div>Title: {{ postData.title }}</div>
  <div>Description: {{ postData.description }}</div>
</div>
<div><a [routerLink]="['/posts']" class="btn btn-primary">Back to posts</a></div>