<div class="row">
  <div class="col-md-6 offset-md-3 text-start">
    <h3>Login</h3>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="mb-3">
        <label for="">Email</label>
        <input type="email" class="form-control" formControlName="email">
        <div>{{ showEmailErrors() }}</div>
      </div>
      <div class="mb-3">
        <label for="">Password</label>
        <input type="password" class="form-control" formControlName="password">
        <div>{{ showPasswordErrors() }}</div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
