<div>
  <!-- <div class="my-3">{{text}}</div> -->
  <div class="my-3">{{ text$ | async }}</div>
  <input 
    type="text" 
    placeholder="Enter value"
    [(ngModel)]="value"
  >
  <button 
    class="btn btn-primary"
    (click)="onAdd()"
  >Add to counter</button>
</div>
<div>
  <button 
    class="btn btn-primary"
    (click)="onChangeText()"
  >Change Text</button>
</div>