<app-header></app-header>
<app-loading-spinner *ngIf="showLoading$ | async"></app-loading-spinner>
<div class="container">
  <div class="row">
    <div class="col col-md-12 text-center">
      <ng-container *ngIf="errorMessage$ | async as error">
        <div class="alert alert-danger">{{ error }}</div>
      </ng-container>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>