<div class="row">
  <div class="col-md-12 text-start">
    <h3>Update post</h3>
    <hr>
    <form [formGroup]="postForm" (ngSubmit)="onUpdatePost()">
      <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
        <div>{{ showTitleErrors() }}</div>
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control" formControlName="description"></textarea>
        <div>{{ showDescriptionErrors() }}</div>
      </div>
      <button 
        type="submit" 
        class="btn btn-primary my-3"
      >Update post</button>
    </form>
  </div>
</div>
