<div class="back-drop"></div>
<div class="loading-spinner">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>Loading data</div>
</div>


