<div class="row">
  <div class="col-md-12 text-start">
    <h3>Add post</h3>
    <hr>
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
        <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
          <div *ngIf="postForm.get('title')!.errors!['required']">Title is required!</div>
          <div *ngIf="postForm.get('title')!.errors!['minlength']">Title should be minimum 6 characters!</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="form-control"  formControlName="description"></textarea>
        <!-- <div *ngIf="postForm.get('description')?.touched && !postForm.get('description')?.valid">
          <div *ngIf="postForm.get('description')!.errors!['required']">Description is required!</div>
          <div *ngIf="postForm.get('description')!.errors!['minlength']">Description should be minimum 10 characters!</div>
        </div> -->
        <div>{{ showDescriptionErrors() }}</div>
      </div>
      <button 
        type="submit" 
        class="btn btn-primary my-3" 
        [disabled]="!postForm.valid"
      >Add post</button>
    </form>
  </div>
</div>
